In [36]:
q_list = [1,2,3,4,5,6,7,8,9,10]

In [37]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [38]:
df = pd.DataFrame(q_list, columns=['q_data'])

In [39]:
df

   q_data
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9      10

In [40]:
df.shape

(10, 1)

In [41]:
row_count = df.shape[0]
split_point = int(row_count*1/5)
test_data, train_data = df[:split_point], df[split_point:]

In [42]:
test_data

   q_data
0       1
1       2

In [43]:
df1 = df[df['q_data']%2==0]
df2 = df[df['q_data']%2!=0]

row_count_1 = df1.shape[0]
split_point_1 = int(row_count_1*1/4)
test_data_1, train_data_1 = df1[:split_point_1], df1[split_point_1:]

row_count_2 = df2.shape[0]
split_point_2 = int(row_count_2*1/4)
test_data_2, train_data_2 = df2[:split_point_2], df2[split_point_2:]

testframes = [test_data_1, test_data_2]
trainframes = [train_data_1,train_data_2]
test_data = pd.concat(testframes)
train_data = pd.concat(trainframes)

In [44]:
df1

   q_data
1       2
3       4
5       6
7       8
9      10

In [45]:
df2

   q_data
0       1
2       3
4       5
6       7
8       9

In [46]:
row_count_1

5

In [47]:
split_point_1

1

In [48]:
split_point_2

1

In [49]:
test_data_1

   q_data
1       2

In [50]:
test_data_2

   q_data
0       1

In [51]:
train_data_1

   q_data
3       4
5       6
7       8
9      10

In [52]:
train_data_2

   q_data
2       3
4       5
6       7
8       9

In [53]:
test_data

   q_data
1       2
0       1

In [54]:
train_data

   q_data
3       4
5       6
7       8
9      10
2       3
4       5
6       7
8       9